<div class="container">
  <div class="content">
    <p>
      The Premier League is an English professional league for men's association football clubs. At the top of the
      English football league system, it is the country's primary football competition. Contested by 20 clubs, it
      operates on a system of promotion and relegation with the English Football League (EFL; known as "The Football
      League" before 2016–17). Welsh clubs that compete in the English football league system can also qualify.
    </p>
    <p>
      The Premier League is a corporation in which the 20 member clubs act as shareholders. Seasons run from August to
      May. Teams play 38 matches each (playing each team in the league twice, home and away), totalling 380 matches in
      the season. Most games are played on Saturday and Sunday afternoons; others during weekday evenings. It is
      colloquially known as the Premiership and outside the UK it is commonly referred to as the English Premier League
      (EPL).
    </p>
    <p>
      The Premier League is the most-watched sports league in the world, broadcast in 212 territories to 643 million
      homes and a potential TV audience of 4.7 billion people. In the 2014–15 season, the average Premier League
      match attendance exceeded 36,000, second highest of any professional football league behind the Bundesliga's
      43,500. Most stadium occupancies are near capacity. The Premier League ranks third in the UEFA coefficients
      of leagues based on performances in European competitions over the past five seasons
    </p>
  </div>
  <div class="image">
    <img src="https://en.wikipedia.org/wiki/Premier_League#/media/File:Premier_League_Logo.svg" alt="Liga Logo">
  </div>
</div>
