<div class="container">
  <div class="content">
    <p>
      The Primera División, commonly known as La Liga and as La Liga Santander for sponsorship reasons with Santander,
      is
      the top professional association football division of the Spanish football league system. Administrated by the
      Liga
      de Fútbol Profesional (LFP), La Liga is contested by 20 teams, with the three lowest-placed teams relegated to the
      Segunda División and replaced by the top two teams in that division plus the winner of a play-off.
    </p>
    <p>
      According to UEFA's league coefficient, La Liga has been the top league in Europe over the last five years and has
      led Europe for more years (13) than any other country. It has also produced the continent's top-rated club more
      times (20) than any other league, more than double that of second-placed Serie A. Its clubs have won the most UEFA
      Champions League (17), UEFA Europa League (10), UEFA Super Cup (14), and FIFA Club World Cup (5) titles, and its
      players have accumulated the highest number of (FIFA) Ballon d'Or awards (19).
    </p>
    <p>
      La Liga is one of the most popular professional sports leagues in the world, with an average attendance of 26,741
      for league matches in the 2014–15 season. This is the sixth-highest of any domestic professional sports league in
      the world and the fourth-highest of any professional association football league in the world, behind the
      Bundesliga, the Premier League, and the Indian Super League.
    </p>

    <ul>
      <li><a [routerLink]="['barcelona']">FC Barcelona</a></li>
      <li><a [routerLink]="['madrid']">Real Madrid CF</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="https://en.wikipedia.org/wiki/La_Liga#/media/File:LaLiga_Santander.svg" alt="Liga Logo">
  </div>
</div>
