<div class="container">
  <div class="content">
    <p>
      Serie A, also called Serie A TIM due to sponsorship by TIM, is a
      professional league competition for football clubs located at the top of the Italian football league system and
      the winner is awarded the Coppa Campioni d'Italia. It has been operating for over eighty years since the 1929–30
      season. It had been organized by Lega Calcio until 2010, when the Lega Serie A was created for the 2010–11 season.
      Serie A is regarded as one of the best football leagues in the world and it is often depicted as the most tactical
      national league.
    </p>
    <p>
      Serie A is the world's second-strongest national league according to IFFHS and has produced the highest number
      of European Cup finalists: Italian clubs have reached the final of the competition on a record 27 different
      occasions, winning the title 12 times. Serie A is ranked third among European leagues according to UEFA's
      league coefficient, behind La Liga, the Premier League and ahead of the Bundesliga and the Ligue 1, which is based
      on the performance of Italian clubs in the Champions League and the Europa League during the last five years.
    </p>
    <p>
      Serie A is one of the most storied leagues in the history of football. Of the 100 greatest footballers in history
      chosen by FourFourTwo magazine in 2017, no more than 42 players have wore at least one jersey from a Serie A’s
      club. More than any other league in the world.
    </p>
  </div>
  <div class="image">
    <img src="https://en.wikipedia.org/wiki/Serie_A#/media/File:LegaSerieAlogoTIM.png" alt="Liga Logo">
  </div>
</div>
